body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f6efe9;
  color: #6a6a6a;
}

.header {
  text-align: center;
  padding: 40px 20px;
}

.header h1 {
  margin-bottom: 5px;
}

.prestations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1300px;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin-top: 0;
}

.btn-details {
  margin-top: 20px;
  align-self: center;
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  background: #eadfda;
  color: #6a6a6a;
  font-weight: 500;
  cursor: pointer;
}

.btn-details:hover {
  background: #e0d3cd;
}

/* MODALE */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #fff;
  border-radius: 24px;
  padding: 35px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 18px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

.modal-time {
  font-weight: 500;
  margin-bottom: 10px;
}

#modal-options {
  padding-left: 20px;
}
.btn-back-wrapper {
  max-width: 1200px;
  margin: 20px auto 10px;
  padding: 0 20px;
}

.btn-back {
  background: #eadfda;
  border: none;
  border-radius: 30px;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  color: #6a6a6a;
  cursor: pointer;
  transition: 0.3s;
}

.btn-back:hover {
  background: #e0d3cd;
}
