/* RESET GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f4efeb;
  color: #6a6a6a;
}

section {
  padding: 60px 20px;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}

.logo {
  width: 200px;
}

header h1 {
  margin-top: 5px;
  font-size: 42px;
  font-weight: 600;
  color: #6a6a6a;
}

/* NAVIGATION */
nav a {
  text-decoration: none;
  color: #6a6a6a;
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.25s;
}

nav a:hover,
nav a.active {
  background: #e8dfd8;
  border: 1px solid rgba(180, 150, 140, 0.4);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #8a8a8a;
  margin-top: 40px;
}
